<a href="https://colab.research.google.com/github/HBC01/Assignments-Python1_4/blob/main/Assignment_4_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 4 Tasks
# 1.List Methods Practice

##1. Create and Modify Lists

Create a list called fruits with the items: "apple", "banana", "orange"

In [ ]:
fruits =["apple", "banana", "orange"]
print(fruits)

['apple', 'banana', 'orange']

Add "grape" to the end of the list using an appropriate method

In [ ]:

fruits =["apple", "banana", "orange"]
fruits.append("grape")
print(fruits)

['apple', 'banana', 'orange', 'grape']

Insert "mango" at position 2 in the list

In [ ]:
fruits =["apple", "banana", "orange"]
fruits.insert(1,"mango")
print (fruits)

['apple', 'mango', 'banana', 'orange']

Remove "banana" from the list

In [ ]:
fruits =["apple", "banana", "orange"]
fruits.remove("banana")

print (fruits)

['apple', 'orange']

##2. List Operations

Create a list numbers With values: 10, 20, 30, 40, 50

In [ ]:
num_list1=[10, 20, 30, 40, 50]
#Create a second list more_numbers with values: 60, 70, 80
num_list2 =[60,70,80]

#Combine both lists into a new list called all_numbers
all_nums= num_list1 + num_list2
print (all_nums)

#Make a copy of all numbers called numbers
copy_list=all_nums.copy()
copied_list = copy_list
print(copied_list)
#Reverse the order of numbers_copy

resrv_list= list(reversed(copied_list))
resrv_num1=num_list1[::-1]
#using reserve slicing notation
print (resrv_list)
print (resrv_num1)
#

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40, 50, 60, 70, 80]
[80, 70, 60, 50, 40, 30, 20, 10]
[50, 40, 30, 20, 10]

##3. Sorting and Counting

In [ ]:
#Create a list scores with these values: 85, 92, 78, 65, 92, 85, 74

num_list = [85, 92, 78, 65, 92, 85, 74]
#Sort the list in ascending order
num_list.sort()
print (num_list)
#Sort the list in descending order
num_list.sort(reverse=True)
print (num_list)
#Count how many times 92 appears in the list
a = num_list.count(92)
print(num_list,a)
#Find and print the highest and lowest scores
print("Highest no. ",max(num_list))
print("lowest no. ",min(num_list))
#

[65, 74, 78, 85, 85, 92, 92]
[92, 92, 85, 85, 78, 74, 65]
[92, 92, 85, 85, 78, 74, 65] 2
Highest no.  92
lowest no.  65

##4. List Manipulation

In [ ]:
#Create a list letters with values: "a", "b", "c, "d", "e"
letters_list = ["a","b","c","d","e"]
print(letters_list)
#Use slicing to create a new list with only the first three letters
print("First 3 letters are",letters_list[:3])
#Use slicing to create another list with only the last two letters
print("Last 2 letters are: ", letters_list[3:])
#Find and print the index of "c" in the list
a = "c" in letters_list
print (a," : mtlb c h")
b=letters_list.index("c")
print (b)
#Replace "d" with "z" in the original list
letters_list[3]="z"
print(letters_list)
new_list=list(map(lambda x: "z" if x == "d" else x, letters_list))
print(new_list)

['a', 'b', 'c', 'd', 'e']
First 3 letters are ['a', 'b', 'c']
Last 2 letters are:  ['d', 'e']
True  : mtlb c h
2
['a', 'b', 'c', 'z', 'e']
['a', 'b', 'c', 'z', 'e']

#2.Dictionary Methods Practice

1. Create and Access Dictionaries

Create a dictionary called student with these key-value pairs:
"name": "John"
"age": 20
"grade": "A"
"courses": ["'Math", "Science", "History"]

In [ ]:

student={"name": "John","age": 20,"grade": "A","courses": ["'Math", "Science", "History"]}
#Print the student's name
print(student["name"])
#Print the list of courses
print(student["courses"])
#Add a new key-value pair: "email": "john@example.com"
student["email"]="john@example.com"
#Print the entire dictionary
print(student)

John
["'Math", 'Science', 'History']
{'name': 'John', 'age': 20, 'grade': 'A', 'courses': ["'Math", 'Science', 'History'], 'email': 'john@example.com'}

##2. Modify Dictionary Values

In [ ]:
student={"name": "John","age": 20,"grade": "A","courses": ["'Math", "Science", "History"]}
#Change the student's age to 21
student["age"]=21
#or
student.update({"name":"Hazoor Ahmed"})
print(student)
#Add a new course "Computer Science" to the courses list
student["courses"].append("Computer-Science")
print(student)
#Update the grade to "A+"
student.update({"grade":"A+"})
print(student)

{'name': 'Hazoor Ahmed', 'age': 21, 'grade': 'A', 'courses': ["'Math", 'Science', 'History']}
{'name': 'Hazoor Ahmed', 'age': 21, 'grade': 'A', 'courses': ["'Math", 'Science', 'History', 'Computer-Science']}
{'name': 'Hazoor Ahmed', 'age': 21, 'grade': 'A+', 'courses': ["'Math", 'Science', 'History', 'Computer-Science']}

3. Dictionary Operations

In [ ]:
student={"name": "John","age": 20,"grade": "A","courses": ["'Math", "Science", "History"]}
#Create a second dictionary student_address with these key-value pairs:
#"street": "123 College Ave"
#"city": "New York"
#"zip": "10001"
student_address={"street": "123 College Ave","city": "New York",
"zip": "10001"}
#Combine both dictionaries into a new dictionary called student_info
student_info=student|student_address
#union method

print(student_info)
# unpacking method
mrge_dic={**student,**student_address}
print(mrge_dic)
#Remove the "zip" key from studentinfo
student_info.pop("zip")
del student_info["name"]
print (student_info)
#Check if "phone" exists in the dictionary
a=student.get("phone","not found")
print (a)

{'name': 'John', 'age': 20, 'grade': 'A', 'courses': ["'Math", 'Science', 'History'], 'street': '123 College Ave', 'city': 'New York', 'zip': '10001'}
{'name': 'John', 'age': 20, 'grade': 'A', 'courses': ["'Math", 'Science', 'History'], 'street': '123 College Ave', 'city': 'New York', 'zip': '10001'}
{'age': 20, 'grade': 'A', 'courses': ["'Math", 'Science', 'History'], 'street': '123 College Ave', 'city': 'New York'}
not found

4. Dictionary Methods

In [ ]:
#Create a dictionary word_count with these key-value pairs:
#"hello": 5
#"world": 10
#"python": 15
word_count={"hello": 5,
"world": 10,
"python": 15}
#Get all keys and print them as a list
keys=word_count.keys()
print(list(keys))
#Get all values and print them as a list
values = word_count.values()
print (list(values))
#Get all key-value pairs and print them
for keys,values in word_count.items():
    print(keys,values)
#or
print (list(word_count.items()))

#Make a copy of the dictionary
copied_dic=word_count.copy()
print(copied_dic)
#Clear the original dictionary
word_count.clear()
#Print both dictionaries to verify one is empty and one is a copy
print (f"this is Original which is {word_count}\n this is copied disc{copied_dic}")

['hello', 'world', 'python']
[5, 10, 15]
hello 5
world 10
python 15
[('hello', 5), ('world', 10), ('python', 15)]
{'hello': 5, 'world': 10, 'python': 15}
this is Original which is {}
 this is copied disc{'hello': 5, 'world': 10, 'python': 15}

#Shopping Discount Calculator

#Create a Python program that calculates the final price after applicable discounts Do
not use any functions just use variables and if statements.

2. Apply discount rules using if statements:


If purchase amount is greater than "$100", apply a 10% discount
o If purchase amount is greater than($50) (but less than or equal to $100),
apply a 5% discount
If the customer is a loyalty member, apply an additional 5% discount
o If it's a weekend (Saturday or Sunday), apply an additional 2% discount
If it's a holiday season, apply an additional 8% discount

Calculate and display:
o The original purchase amount
o Each discount that was applied and its amount
o The final price after all discounts

In [ ]:

print("Welcome to use Discount calculator")

purchase_amount = float(input("Write purchase amount: "))
is_loyalty_member = input("Are you a loyalty member? (yes/no): ").lower()
day_of_week = input("Write today’s day: ").strip().lower()
is_holiday_season = input("Is it holiday season? (yes/no): ").lower()


final_price = purchase_amount
total_discount = 0


if purchase_amount > 100:
    discount = final_price * 0.10
    final_price -= discount
    total_discount += discount
    print("10% discount: -$", round(discount, 2))
elif 50 <= purchase_amount <= 100:
    discount = final_price * 0.05
    final_price -= discount
    total_discount += discount
    print("5% discount: -$", round(discount, 2))


if is_loyalty_member == "yes":
    discount = final_price * 0.05
    final_price -= discount
    total_discount += discount
    print("5% loyalty discount: -$", round(discount, 2))


if day_of_week in ("saturday", "sunday"):
    discount = final_price * 0.02
    final_price -= discount
    total_discount += discount
    print("2% weekend discount: -$", round(discount, 2))


if is_holiday_season == "yes":
    discount = final_price * 0.08
    final_price -= discount
    total_discount += discount
    print("8% holiday discount: -$", round(discount, 2))


print("Total discounts applied: $", round(total_discount, 2))
print("Final price to pay: $", round(final_price, 2))

Welcome to use Discount calculator
Write purchase amount: 1000
Are you a loyalty member? (yes/no): Yes
Write today’s day: Sunday
Is it holiday season? (yes/no): Yes
10% discount: -$ 100.0
5% loyalty discount: -$ 45.0
2% weekend discount: -$ 17.1
8% holiday discount: -$ 67.03
Total discounts applied: $ 229.13
Final price to pay: $ 770.87

#For Loop Assignment - Number Patterns
Assignment Overview:
In this assignment, you will create number patterns using for loops in Python.
Instructions:
Write a Python program that generates the following patterns using for loops:
1. Pattern 1: Counting Numbers
o Print numbers from 1 to 10 on a single ine.

Pattern 2: Multiplication Table
• Create a multiplication table for the number 5 (from 1 to 10).

In [ ]:
num=1
while num <=10:
    print (num,end=" ")
    num+=1
num2=1
print ("\n5 Multiple Table")
while True:
    print(f"5 x {num2} = {5 * num2}")
    if num2 ==10:
        break
    num2+=1

1 2 3 4 5 6 7 8 9 10
5 Multiple Table
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

#While Loop Assignment - Interactive Game
Assignment Overview:
Create a simple number guessing game using a while loop.
Instructions:
Write a Python program that:
1. Sets a "secret number" (you can choose any number between 1 and 50)
2. Asks the player to guess the number
3. Tells the player if their guess is too high or too low
4. Keeps asking until the player guesses correctly
5. Keeps track of how many guesses it took

In [6]:
import random

print("This is a Guess Game!")

#  Generate secret number once
secret_number = random.randint(1, 5)
count = 0


while True:
    print("Guess a number between 1 and 50")
    try:
        input_number = int(input("Your Guess: "))
        count += 1

        if input_number < secret_number:
            print("Too low! Try again.")
        elif input_number > secret_number:
            print("Too high! Try again.")
        else:
            print("Well Done! You guessed it correctly!")
            break
    except ValueError:
        print("Please enter a valid number.")


print(f"You guessed the number in {count} tries!")

This is a Guess Game!
Guess a number between 1 and 50
Your Guess: 3
Too low! Try again.
Guess a number between 1 and 50
Your Guess: 3
Too low! Try again.
Guess a number between 1 and 50
Your Guess: 3
Too low! Try again.
Guess a number between 1 and 50
Your Guess: 4
Well Done! You guessed it correctly!
You guessed the number in 4 tries!

#Student Grade Management System
#Assignment Overview:
In this assignment, you will create a simple student grade management system using
Python lists and dictionaries. This will help you understand how these data structures
work together to organize and manage information.
Requirements:
Create a Python program that does the following:
1. Create a list to store information about students
2. Each student should be represented as a dictionary with the following keys:
o name: The student's full name
o
id: A unique student ID number
grades: Another dictionary containing course names as keys and grades as
values
3. Your program should:
Add at least 3 students to the list
o Add grades for least 3 courses for each student
o
Display all students with their grades
o Calculate and display the average grade for each student
o Find and display the student with the highest average grade
List all students with an average grade above 80
o Calculate and display the average grade for a specific course
o Adda new student to the system

In [8]:
# Student Grade Management System

# Step 1: Initialize the student list
students = [
    {
        "name": "Alice Johnson",
        "id": 101,
        "grades": {
            "Math": 85,
            "Science": 90,
            "History": 78
        }
    },
    {
        "name": "Bob Smith",
        "id": 102,
        "grades": {
            "Math": 75,
            "Science": 80,
            "History": 82
        }
    },
    {
        "name": "Carol Lee",
        "id": 103,
        "grades": {
            "Math": 92,
            "Science": 88,
            "History": 95
        }
    }
]

# Step 2: Display all students with their grades
print("\nAll Students and Their Grades:")
for student in students:
    print(f"\nName: {student['name']}, ID: {student['id']}")
    for course, grade in student['grades'].items():
        print(f"  {course}: {grade}")

# Step 3: Calculate and display average grade for each student
print("\nAverage Grade per Student:")
averages = []
for student in students:
    grades = list(student['grades'].values())
    avg = sum(grades) / len(grades)
    averages.append((student["name"], avg))
    print(f"{student['name']} - Average: {avg:.2f}")

# Step 4: Find and display student with highest average grade
top_student = max(averages, key=lambda x: x[1])
print(f"\n🏆 Top Student: {top_student[0]} with Average Grade: {top_student[1]:.2f}")

# Step 5: List students with average grade above 80
print("\nStudents with Average Grade Above 80:")
for name, avg in averages:
    if avg > 80:
        print(f"{name} - {avg:.2f}")

# Step 6: Calculate and display average grade for a specific course
course_name = "Math"
course_total = 0
course_count = 0
for student in students:
    if course_name in student["grades"]:
        course_total += student["grades"][course_name]
        course_count += 1

if course_count > 0:
    course_avg = course_total / course_count
    print(f"\n📘 Average Grade for {course_name}: {course_avg:.2f}")
else:
    print(f"\nNo grades found for course {course_name}")

# Step 7: Add a new student
new_student = {
    "name": "David Kim",
    "id": 104,
    "grades": {
        "Math": 88,
        "Science": 76,
        "History": 89
    }
}
students.append(new_student)
print(f"\n✅ New student added: {new_student['name']} (ID: {new_student['id']})")

# Optional: Display all students again after adding the new one
print("\nUpdated Student List:")
for student in students:
    print(f"{student['name']} (ID: {student['id']}) - Grades: {student['grades']}")

All Students and Their Grades:

Name: Alice Johnson, ID: 101
  Math: 85
  Science: 90
  History: 78

Name: Bob Smith, ID: 102
  Math: 75
  Science: 80
  History: 82

Name: Carol Lee, ID: 103
  Math: 92
  Science: 88
  History: 95

Average Grade per Student:
Alice Johnson - Average: 84.33
Bob Smith - Average: 79.00
Carol Lee - Average: 91.67

🏆 Top Student: Carol Lee with Average Grade: 91.67

Students with Average Grade Above 80:
Alice Johnson - 84.33
Carol Lee - 91.67

📘 Average Grade for Math: 84.00

✅ New student added: David Kim (ID: 104)

Updated Student List:
Alice Johnson (ID: 101) - Grades: {'Math': 85, 'Science': 90, 'History': 78}
Bob Smith (ID: 102) - Grades: {'Math': 75, 'Science': 80, 'History': 82}
Carol Lee (ID: 103) - Grades: {'Math': 92, 'Science': 88, 'History': 95}
David Kim (ID: 104) - Grades: {'Math': 88, 'Science': 76, 'History': 89}