<a href="https://colab.research.google.com/github/HBC01/Assignments-Python1_4/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Part 1: Understanding String Literals
 1. Create three different strings    using each type of quotation:

- Single quotes ('example')

In [ ]:
print('This is Hazoor Ahmed')

This is Hazoor Ahmed


- Double quotes ("example")

In [ ]:
print ("this sentence is in 'double' quotes\n this will be written in new line")

this sentence is in 'double' quotes
 this will be written in new line

- Triple quotes ("""example""")

 Also we write our code in multiple lines continue

In [ ]:
print("""I am Hazoor Ahmed
From Ghotki
It is written in multiple lines,
result will come in line by line
 as we write.
""")

I am Hazoor Ahmed
From Ghotki
It is written in multiple lines,
result will come in line by line
 as we write.

2. Explain in your own words: What is the advantage of each type of quotation?

In [ ]:
print ("""According above code.
We learned that
we can use 3 types of (quotes) symbols in our code,
What's the results come by using
'single', "double" or triple quotes symbols,
We easily understand that
single & double quotes gives same results
but we can't write code in multiple lines
as write in multiple lines the result will though an error
If else we use ""Triple"" quotes result we appear as we write code.

""")

According above code.
We learned that
we can use 3 types of (quotes) symbols in our code,
What's the results come by using
'single', "double" or triple quotes symbols,
We easily understand that
single & double quotes gives same results
but we can't write code in multiple lines
as write in multiple lines the result will though an error
If else we use ""Triple"" quotes result we appear as we write code.

 3. Write a string that contains both single and double quotes inside it.

In [ ]:
print("""
If we use '' in single code line

like this print('this is 'Hazoor' Ahmed')
It will give error
 but not in this like print('it ''is'' my pen do "you" like')

In double quotes works same above
Error: print(" hello , "my" Friend & it gives  in if use triple")
No in using single quotes, print(" 'Are' '''you''' 'here'")
Can't write triple quotes inside triple line code
""")

If we use '' in single code line

like this print('this is 'Hazoor' Ahmed')
It will give error
 but not in this like print('it ''is'' my pen do "you" like')

In double quotes works same above
Error: print(" hello , "my" Friend & it gives  in if use triple")
No in using single quotes, print(" 'Are' '''you''' 'here'")
Can't write triple quotes inside triple line code

4. Create a multi-line string using triple quotes that describes your favorite hobby.

In [ ]:
print(""" "My Hobby"

I love reading books. It's a great way to gain knowledge.
My favorite book is "The Alchemist".
I read every night before sleeping.
It's a 'habit' that keeps me relaxed.
Reading helps me explore new ideas and perspectives.
""")

 "My Hobby"

I love reading books. It's a great way to gain knowledge.
My favorite book is "The Alchemist".
I read every night before sleeping.
It's a 'habit' that keeps me relaxed.
Reading helps me explore new ideas and perspectives.

#part 1 completed

#Part 2: String Methods Practice

1. Create a variable full_name with your full name (first and last name). Then write code
to:
o
 - Print your name with the first letter of each name capitalized

In [ ]:
full_name=input("write your full name in any case :  ")
if full_name: print("Your name is in Title case: ",full_name.title())

write your full name in any case :  Juh jjjh kkj
Your name is in Title case:  Juh Jjjh Kkj

- Print your name in all uppercase letters

In [ ]:
print(input ("write something this will appear in upper case : ").upper())

write something this will appear in upper case : Kkjk
KKJK

-  Print your name in all lowercase letters

In [ ]:
print(input ("write something this will appear in lower case : ").lower())

write something this will appear in lower case : Kjjh JJJ345
kjjh jjj345

2. Create a variable messy_text = " Python programming is fun! " Then write code
to:

- Remove all the extra spaces at the beginning and end

In [ ]:

 extra_spaces = "    Extara space has been reduced.  "

print(extra_spaces)
print(extra_spaces.strip(),"removed spaces both sides")
print(extra_spaces.lstrip(),"Removed extra spaces from left")
print(extra_spaces.rstrip(),"Deleted spaces from right side")

    Extara space has been reduced.
Extara space has been reduced. removed spaces both sides
Extara space has been reduced.   Removed extra spaces from left
    Extara space has been reduced. Deleted spaces from right side

- Replace "fun" with "amazing"

In [ ]:
sentence="At the beach many people were enjoying & boys were playing with each other;"


print (sentence)
print (sentence.replace("boys","Friends"),"\nboys has been replaced with Friends")

At the beach many people were enjoying & boys were playing with each other;
At the beach many people were enjoying & Friends were playing with each other;
boys has been replaced with Friends

-  Count how many times the letter 'i' appears

In [ ]:
address=("My name is Hazoor Ahmed,I like the this country,")
print (address.count("i"),"this will show only i letter not I ")

3 this will show only i letter not I

3. Create a variable sentence = "The quick brown fox jumps over the lazy dog"
Then write code to

- Split this sentence into a list of words

In [ ]:
sentence = "The quick brown fox jumps over the lazy dog"
print (sentence.split(),"this breaks in only by default words")
words=sentence.split()
print (words)
greet ="hello, bro, how, are you?"

spt =greet.split()
separater=greet.split(",",1)

print (spt,separater,"which symbol you give inside split\n like , or ; then it will separate like symbol")

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] this breaks in only by default words
['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
['hello,', 'bro,', 'how,', 'are', 'you?'] ['hello', ' bro, how, are you?'] which symbol you give inside split
 like , or ; then it will separate like symbol

In [ ]:

log =input("text : ")
print (log.split())

text : Jju jjj jjj
['Jju', 'jjj', 'jjj']

-  Join the words back together with dashes between them

In [ ]:
words = ['hello', 'bro!', 'how', 'are', 'you?']
joined_sentence = "-".join(words)
print(joined_sentence)

hello-bro!-how-are-you?

In [ ]:
name ="Hazoor Ahmed"
caste ="Chachar"

print(name+" "+caste)

print(f"Name : {name} , Caste : {caste}")

f_name=input("Write your First Name : ")
l_name=input("Write your Last Name : ")
age=input("write your age : ")
print (f"{f_name} {l_name} you are {age} years old")

Hazoor Ahmed Chachar
Name : Hazoor Ahmed , Caste : Chachar
Write your First Name : Hja
Write your Last Name : Ad
write your age : S
HjaAd you are S years old

-  Check if the sentence starts with "The"

In [ ]:
check = "Pakistan is the most beautiful country"
if check.startswith("The"):print("Yes")
else:print("No")

No

In [ ]:
if check.startswith( "The"): print (True,"Stars with The")
else:print(False,"Not starts with word the")

False Not starts with word the

-  Find the position of the word "fox"

In [ ]:
place ="Embrace not the journey, not just the not destination."

I=place.index("not")
sn =place.find("not",I + 1)
print(I,sn)

8 25

# Part 3: F-Strings

In [ ]:

your_name = "Hazoor Ahmed"
your_age = 25
language = "Python"

# Using f-strings
print(f"My name is {your_name} and I am {your_age} years old.")
print(f"I enjoy programming in {language}, it's my favorite!")
print(f"In 5 years, I will be {your_age + 5} years old.")

My name is Hazoor Ahmed and I am 25 years old.
I enjoy programming in Python, it's my favorite!
In 5 years, I will be 30 years old.

# Part 4: Combining String Methods with F-Strings

Create a program that:
1. Asks for user input about their first name, last name, and birth year
2. Uses string methods to properly capitalize their name
3. Uses f-strings to create a profile message: "Profile: {First Last}, Age: {calculated age},
Username: {first initial + last name + birth year}"

In [ ]:
# Get user input for name
first_name = input("Enter your first name: ").strip()
last_name = input("Enter your last name: ").strip()

# Validate birth year using a loop
while True:
    birth_year_input = input("Enter your birth year: ").strip()

    if birth_year_input.isdigit():  # Check if input is a valid number
        birth_year = int(birth_year_input)
        year = 2025  # Current year
        age = year - birth_year
        break  # Exit loop if valid input is given
    else:
        print("Invalid input. Please enter a valid birth year (numbers only).")

# Capitalize first and last name properly
first_name = first_name.capitalize()
last_name = last_name.capitalize()

# Generate username
username = f"{first_name[0].lower()}{last_name.lower()}{birth_year}"

# Create profile message
profile_message = f"Bio Data: {first_name} {last_name}, Age: {age}, Username: {username}"

# Display output
print(profile_message)

Enter your first name:       hazoor Ahmed
Enter your last name:    Khan
Enter your birth year: Kqka
Invalid input. Please enter a valid birth year (numbers only).
Enter your birth year: 202
Bio Data: Hazoor ahmed Khan, Age: 1823, Username: hkhan202