<a href="https://colab.research.google.com/github/HBC01/Assignments-Python1_4/blob/main/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Assignment: Lists, Tuples, and Their Methods

# Basic List Operations

1. Create a list of five numbers and append a new number to it. Print the updated list.

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers.append(6)
print("Updated List:", numbers)

Updated List: [1, 2, 3, 4, 5, 6]

2. Extend a list [1, 2, 3] with another list [4, 5, 6]. Print the result.

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.extend(list2)
print("Extended List:", list1)

Extended List: [1, 2, 3, 4, 5, 6]

3. Insert the string "Python" at index 2 in the list ["Java", "C++", "JavaScript", "Ruby"].

In [ ]:
languages = ["Java", "C++", "JavaScript", "Ruby"]
languages.insert(2, "Python")
print("Updated List:", languages)

Updated List: ['Java', 'C++', 'Python', 'JavaScript', 'Ruby']

4. Remove the first occurrence of the number 10 from the list [10, 20, 30, 10, 40].

In [ ]:
numbers =[10,20,30,10,40]
numbers.remove(10)
print("Removed 10 from list:",numbers)

Removed 10 from list: [20, 30, 10, 40]

5. Use the pop() method to remove the last element from [100, 200, 300, 400] and print the modified list.

In [ ]:
numbers = [100, 200, 300, 400]
numbers.pop()
print("Updated List:", numbers)

Updated List: [100, 200, 300]

#Intermediate List Operations

6. Count how many times the number 5 appears in the list [5, 10, 5, 20, 5, 30].

In [ ]:
numbers = [5, 10, 5, 20, 5, 30]
count_five = numbers.count(5)
print("Count of 5:", count_five)

Count of 5: 3

7. Sort the list [9, 1, 8, 3, 5] in ascending and descending order.

In [ ]:
numbers = [9, 1, 8, 3, 5]
numbers.sort()
print("Ascending Order:", numbers)

Ascending Order: [1, 3, 5, 8, 9]

    b. Descending order

In [ ]:
numbers = [9, 1, 8, 3, 5]
numbers.sort(reverse=True)
print(numbers)

[9, 8, 5, 3, 1]

8. Reverse the list ["apple", "banana", "cherry"] using the reverse() method.

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.reverse()
print("Reversed List:", fruits)

Reversed List: ['cherry', 'banana', 'apple']

9. Create a copy of the list [1, 2, 3, 4, 5], modify the copied list, and print both lists.

In [ ]:
original_list = [1, 2, 3, 4, 5]
copied_list = original_list.copy()

copied_list.append(6)
print("Original List:", original_list)
print("Copied & Modified List:", copied_list)

Original List: [1, 2, 3, 4, 5]
Copied & Modified List: [1, 2, 3, 4, 5, 6]

10. Clear all elements from a list ["hello", "world", "python"] using the clear() method.

In [ ]:
words = ["hello", "world", "python"]
words.clear()
print("Cleared List:", words)

Cleared List: []

#Tuple-Based Questions

##11. Create a tuple with 5 different fruits and print the third fruit.

In [ ]:
fruits = ("apple", "banana", "cherry", "mango", "grape")
print("Third Fruit:", fruits[2])

Third Fruit: cherry

##12. Convert the tuple (10, 20, 30, 40, 50) into a list, remove 30, and convert it back into a tuple.

In [ ]:

numbers = (10, 20, 30, 40, 50)
numbers_list = list(numbers)
print("Numbers list: ",numbers_list)
numbers_list.remove(30)
numbers = tuple(numbers_list)
print("Updated Tuple:", numbers)

Numbers list:  [10, 20, 30, 40, 50]
Updated Tuple: (10, 20, 40, 50)

##13. Try to append an element to the tuple ("A", "B", "C"). What happens? How can you modify a tuple indirectly?

In [ ]:

# Tuples are immutable,
letters = ("A", "B", "C")
# letters.append("D")  # This will raise an error

# Indirect modification:
letters = list(letters)  # Convert to list
letters.append("D")      # Modify the list
letters = tuple(letters) # Convert back to tuple
print("Modified Tuple:", letters)

Modified Tuple: ('A', 'B', 'C', 'D')

##14. Unpack the tuple (100, 200, 300) into three separate variables and print them.

In [ ]:

a, b, c = (100, 200, 300)
print(a, b, c)

100 200 300

##15. Count the occurrences of 7 in the tuple (7, 1, 7, 3, 7, 5).

In [ ]:
numbers = (7, 1, 7, 3, 7, 5)
print(f"Total Count of 7 is {numbers.count(7)} ")

Total Count of 7 is 3

#Advanced Problems

##16. Function to remove all even numbers from a list.

In [ ]:
def remove_even(lst):
    return [num for num in lst if num % 2 != 0]

print(remove_even([1, 2, 3, 4, 5, 6]))

def remove_odd(a):
  return[num for num in a if num %2==0]
print(remove_odd([1,2,3,4]))

[1, 3, 5]
[2, 4]

##17. Function to sort a list in descending order without sort().

In [ ]:
def sort_desc(list):
    return sorted(list, reverse=True)

print(sort_desc([4, 2, 9, 1]))
a=[5,3,1,8]
a.sort(reverse=True)
print(a)

[9, 4, 2, 1]
[8, 5, 3, 1]

##18. Remove duplicate elements from a list.

In [ ]:
numbers = [1, 2, 3, 2, 4, 5, 3]
unique_numbers = list(set(numbers))
print(unique_numbers)

[1, 2, 3, 4, 5]

##19. Convert tuple to list, remove duplicates, and convert back.

In [ ]:
names = ("Ahmed","Hazoor", "Ahmed", "Khan", "Dawood", "Ahmed")
unique_names = list(names)
print(unique_names,type(unique_names))
unique_names =set(unique_names)
print(type(unique_names))
in_tuple=tuple(unique_names)
print(in_tuple)
# other way
names = ("Alice", "Bob", "Charlie", "Alice", "David")
unique_names = tuple(set(names))
print(unique_names)

['Ahmed', 'Hazoor', 'Ahmed', 'Khan', 'Dawood', 'Ahmed'] <class 'list'>
<class 'set'>
('Hazoor', 'Dawood', 'Khan', 'Ahmed')
('Alice', 'David', 'Charlie', 'Bob')